/* general styling for mobile view */

body {
    font-family: 'Righteous', serif;
    background: rgba(240, 211, 169, 0.815);
}

footer{
  background-color:  rgba(56, 54, 54, 0.295);
  color: #242222;
  padding: 10px;
  text-align: center;
  bottom: 0;
  left:0;
  right:0;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color:#000000;

}

p {
  line-height: 1.5;
}

a{
  color:#49494b;
  text-decoration: underline;
}
.active{
	background: rgba(240, 211, 169, 0.815);
    border: black 2px dotted;
    font-size: 25px;
    color:#49494b;
    text-shadow: 2px 2px 5px rgb(226, 223, 192);
}

.active a{
	text-decoration: none;
}

nav ul{
    display: flex;
    flex-direction: column;
  
    background-color: rgb(235, 233, 215);
	  padding:10px;
}

nav li{
    text-align: center;
    align-self: center;
    background-color:papayawhip;
    margin: 10px;
    border: 1px tan solid;
    width: 25%; 
    padding: 4px;
}

*:focus {
    border:1px solid black;
  }
  

.skip a{
    position: absolute;
    top: -40px;
  }
  

.skip a:focus{
    position: absolute;
    top: 20px;
  }

  .skip a{
    background:papayawhip;
    padding: 6px;
    -webkit-transition: cubic-bezier(0.23, 1, 0.320, 1);
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  nav a:hover, nav a:focus {
    text-decoration: underline;
    color:rgba(30, 28, 41, 0.897);
  }

  a:visited{
    color: inherit;}


  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-items: center;
  }

  .gallery img {
    border:rgba(105, 104, 112, 0.349) 3px solid;
    width: 75%;
    height: 75%;
  }


  .gallery img:hover, .gallery img:focus {
    border:rgb(136, 122, 61) 5px dashed;
  }
    
  .gallery img:nth-child(odd) {
    grid-column-start: 1;
  }
.gallery img:nth-child(even) {
  grid-column-start: 2;
}

.gallery img:last-child{
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: center;
}

#headshot
{position: relative;
width: 300px;
height: 300px;
background: white;
border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
color: white;
box-shadow: 20px 20px rgba(0,0,0,.15);
transition: all .4s ease;
display: inline-block;
margin-top: 10px;
display: block;
margin-right: auto; 
margin-left: auto;
border:rgba(46, 29, 5, 0.815) 3px solid;
}
  
  .about_me img{
    border:rgba(105, 104, 112, 0.349) 5px solid;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about_me img:hover,   .about_me img:focus{
    border-top: blue 5px solid;
    border-bottom: blue 5px solid;
    border-right: yellow 5px solid;
    border-left: yellow 5px solid;
    width: 200px;
  }
  .about_me{
    font-size: 25px;
    text-align: center;

  }




  h1 {
    color: #49494b;
    font-size: 40px;
    margin: auto;
    text-align: center;
  }

  #bio{
    padding-top: 20px;
    color:rgb(97, 86, 38);
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
  }

  .video_div{
    padding: 20px;
  }
.video{
    height: 400px;
    display: block;
    margin: 0 auto;
    border: rgb(97, 86, 38) 3px solid;
    /* box-shadow: 20px 20px rgba(0,0,0,.15); */
  }
  .options{
    display:block;
     text-align: center;
  }

  .video:hover, .video:focus{
    border: rgb(51, 44, 12) 7px solid;
  }

 
  #pause, #play {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #pause:hover, #play:hover {
    background-color: #fff;
  }
  
  #pause:active, #play:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
 



  @keyframes mymove{
    from {color:rgb(136, 122, 61);
    height: 10px;
    opacity: 0;}
    to {color: #49494b;
      height: 50px;
    opacity: 1;
  } }

 @keyframes mymove2{
    from{
      opacity: 0;
      width: 100px;
      height: 100px;
    }
    to{
      opacity: 1;
      width: 300px;
      height: 300px;
  }
}


  #name{
    animation: mymove 5s;
    margin: auto;
    padding: 30px;
    background-color: blanchedalmond;
    border:burlywood 2px solid;
     }
  

     #sources{
       font-size: 12px;

     }

     #flex_container{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-content: center;


     }
     #flex_container img{
      width: 200px;
      border:rgb(97, 86, 38) 3px solid; 
      align-self: center;
     }

  #flex_container img:hover,   #flex_container img:focus{
    border:rgb(51, 44, 12) 7px solid;
  }

 
/* hide the pdf presentation of the resume on mobile view */
  iframe{
   display: none
  }

  .resume, .github{
    font-size: 25px;
    text-align:center; 
  }

    /* first media query for tablet view */
@media screen and (min-width: 700px){
      nav ul{
          flex-direction: row;
      }

  


      .gallery {
        grid-template-columns: 1fr;      
  
      }
  
  
      .gallery img:nth-of-type(n){
        grid-column: 1/-1;
        /* width: 75%; */
        justify-self:left;
        background-color: burlywood;
        max-height: 500px;
        border:rgba(30, 28, 41, 0.897) 5px solid;
        box-shadow: 0 0 5px 2px #282a2d;
  
  
      }
      .gallery img:nth-of-type(2n){
        justify-self:right;
      }
      iframe{
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding: 20px;
      height:500px;
       width:300px;
      }
      #flex_container{
        flex-direction: row-reverse;
        flex-wrap: wrap;
      }
      #flex_container img{
        flex-basis: 100px;
      }
      #headshot {
        animation: mymove2 5s;

      }
      }

    /* second media query for desktop view */
    @media screen and (min-width: 900px){
      nav ul {
        width: 100%;
        justify-content: space-between;
      }
  
      .gallery {

        grid-template-columns: 1fr 1fr 1fr;}
      
     .gallery img:nth-of-type(n) {
       align-self: center;
       justify-self: center;
       /* width: 95%; */
    

     }
   
      
      .gallery img:nth-of-type(3n){
        grid-column-start: 3;
        grid-column-end: 4;

      }
      .gallery img:nth-of-type(3n + 1){
        grid-column-start: 1;
        grid-column-end: 2;

      }
      .gallery img:nth-of-type(3n + 2){
        grid-column-start: 2;
        grid-column-end: 3;

      }

    #flex_container{
      flex-direction: row;
      justify-content: space-evenly;
      gap: 50px;
    }
    #flex_container img{
      border:rgb(97, 86, 38) 3px solid; 
     }
     .about_me img {
      display: inline;

    }
   
  }
@media  (prefers-reduced-motion: reduce){
    #name, #headshot{
      animation: none
  }
}

